@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Localization

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IStringLocalizer<App> Localize

<AuthorizeView>
    <Authorized>
        <nav class="logo-container p-0 navbar navbar-dark">
            <LayoutToggleButton @bind-StateCssClass="@LayoutStateCssClass" />
            <NavLink class="logo-image text-body" href="" Match="NavLinkMatch.All"/>
            <div class="d-flex">
                <span>@context.User.Identity.Name</span>
                <button class="download-btn navbar-toggler d-inline-block bg-primary text-white border-0" @onclick="BeginSignOut">
                    @Localize["Log out"]
                </button>
            </div>
        </nav>
        <div class="content @LayoutStateCssClass">
            <div class="sidebar">
                <NavMenu />
            </div>
            <div @ref="@mainRef" class="main">
                <div class="content px-4">
                    <CascadingValue Value="@ThemeName" Name="ThemeName">
                        @Body
                    </CascadingValue>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </Authorized>
    <NotAuthorized>
        @*<a class="download-btn navbar-toggler d-inline-block bg-primary text-white border-0" href="authentication/login">Log in</a>*@
        <Loader></Loader>
    </NotAuthorized>
</AuthorizeView>

@code
{
    ElementReference mainRef;
    string ThemeName = "Default";

    string _layoutStateCssClass;

    string LayoutStateCssClass
    {
        get => _layoutStateCssClass;
        set
        {
            if (_layoutStateCssClass != value)
            {
                _layoutStateCssClass = value;
            }
        }
    }
    
    private void Login()
    {
        Navigation.NavigateTo($"authentication/login?returnUrl=" +
                              Uri.EscapeDataString(Navigation.Uri));

    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
